.container{
    .nav-left{
        background-color: #001529;
        color: #ffffff;
        height: calc(100vh)
       
    }
    .content{
        margin: 0 20px;
        min-height: 600px;
        background: white;
        
    }
    .main{
        background: #f0f2f5;
    }
}